* {
  margin: 0;
  padding: 0;
  color: aliceblue;
}

.container {
  display: grid;
  grid-template-rows: auto, 1fr, auto;
  height: 100vh;
  place-items: center;
}

.textbody {
  display: grid;
  place-items: center;
  align-items: center;
}

.container .textbody h2 {
  text-transform: capitalize;
  font-size: 4vmax;
  margin-bottom: 2vmin;
}
.container .textbody p {
  text-transform: capitalize;
  letter-spacing: 0.2vmin;
  font-size: 15px;
  width: 30vmax;
  text-align: center;
}

.notify input {
  height: 2em;
  padding: 2px;
  border: 3px solid salmon;
  border-radius: 7%;
}

.counters {
  display: inline-block;
  width: 11vmin;
  height: 11vmin;
  border: 5px solid;
  margin: 3vmin;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  font-size: 1.3vmax;
  padding: 2.5vmin;
}

.counters span {
  font-size: 2vmax;
  text-align: center;
}

.notify {
  width: 25vmax;
  background-color: blue;
}

.notify Email {
  width: 100%;
}

.notify button {
  width: 20%;
  height: 100%;
  outline: none;
  border: none;
  color: brown;
}
