* {
  margin: 0;
  padding: 0;
  color: aliceblue;
}

.container {
  display: grid;
  place-items: center;
  padding-top: 15vmin;
}

.textbody {
  display: grid;
  place-items: center;
  align-items: center;
}

.container .textbody h2 {
  text-transform: capitalize;
  font-size: 3vmax;
  margin-top: 25%;
}
.container .textbody p {
  text-transform: capitalize;
  letter-spacing: 0.2vmin;
  font-size: 15px;
  width: 30vmax;
  text-align: center;
  margin-bottom: 30px;
}

.counters {
  display: inline-block;

  width: 8vmin;
  height: 8vmin;
  border: 2px solid #686de0;
  margin: 4vmin;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  justify-content: center;

  padding: 1.2vmin;
}

.counters p {
  font-size: 2vmin;
  margin-bottom: -10px;
}

h4 {
  font-size: 3vmin;
  margin-bottom: -10px;
}

.notify {
  padding: 0 1px;
  border-radius: 30px;
  border: 1px solid #686de0;
  outline: none;
  background-color: #686de0;
}
.notify input {
  display: inline-block;
  max-width: 45vmin;
  padding: 10px 15px;

  border: 1px solid #ddd;
  outline: none;

  margin: 1px 1px;
}
.notify .btn {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  margin-left: 1px;
  cursor: pointer;
  transition: 0.4s;
  background-color: #4834d4;
}

.notify .mail {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  margin-right: -1px;
  color: #686de0;
}

.btn:hover {
  opacity: 0.7;
}

.footer {
  position: absolute;
  bottom: 3vmin;
  right: 50%;
 
   
}
ul {
  position: relative;
  display: flex;
}

ul li {
  position: relative;
  list-style: none;
  border-radius: 50%;
  padding: 0.5vmin;
  margin: 0 0.5vmin;
}

ul li a {
  width: 3vmin;
  position: relative;
  height: 3vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.2vmax;
  color: #e2e2e2;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
  padding: 1vmin;
  box-shadow: 2px;
}

ul li a:hover {
  transform: translateY(-2px);
  transition: ease-in-out;
}

ul li:nth-child(2) {
  background: #1877f2;
}

ul li:nth-child(3) {
  background: #25d366;
}

ul li:nth-child(4) {
  background: #c32aa3;
}

ul li:nth-child(5) {
  background: #1da1f2;
  }

  @media only screen and (min-width: 300px) {
    .container {
    padding-top: 30vmin;
     
    }
    
    ul li {
      position: relative;
      list-style: none;
      border-radius: 50%;
      padding: 1.2vmin;
      margin: 1vmin;
      
       
    }
    ul{
      margin-left: 1vmin;
      padding: 1vmin;
    }
    ul li a {
      padding-top: 1.4vmin;
      
    }
    
    .footer{
      right: 32%;
      
    }
     

    .counters {
      display: inline-block;
    
      width: 14vmin;
      height: 14vmin;
      border: 2px solid #686de0;
      margin: 3vmin;
      border-radius: 50%;
      overflow: hidden;
      text-align: center;
      justify-content: center;
    
      padding: 1.3vmin;
    }
    
    .counters p {
      font-size: 4vmin;
      margin-bottom: -10px;
    }
  }
