* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 20;
  object-fit: cover;
}


header .logo {
  display: flex;
  padding: 0.5em;
  justify-content: start;
  align-items: center;
}
header .logo img {
  height: 80px;
 
}

header h2 {
  padding: 0.5em;
  text-transform: capitalize;
  text-shadow: 1px 2px #000;
  line-height: 1em;
  font-weight: 600;
}
header ul li a {
  text-decoration: none;
  padding-left: 3.3rem;
  cursor: pointer;
  color: #fff;
  z-index: 100;
  font-weight: 200;
  font-size: 1.2em;
}


header ul li a:hover {
    text-decoration: none;
    padding-left: 3.3rem;
    cursor: pointer;
    color: rgb(255, 0, 0);
    z-index: 100;
     
    font-weight: 300;
   
    font-size: 1.2em;
  }
  
header ul {
  padding: 30px;
  list-style: none;
}

header ul li {
  display: inline-block;
}

.banner {
  position: absolute;
  top: 0;
  display: block;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 100vw;
}

header {
  position: relative;
  display: flex;
  color: #fff;
  z-index: 3;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  padding: 27px;
  width: 50px;
  justify-content: center;
  display: flex;
  align-content: center;
}
.toggle img {
  padding: 15px;
  width: 50px;
  height: auto;
}

.menuActive {
  right: 0;
  top: 0;
  position: absolute;

  display: flex;
}
.menu {
  right: 0;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  transition: ease-out;
}

.menu li {
  list-style: none;
  display: block;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  display: block;
  padding: 10px 30px;
}

.menu li a img {
  height: 100px;
  padding: 10px 30px;
  border-bottom: solid 2px #fff;
  display: block;
  padding: 10px 30px;
  animation: medallionAnimation 10s ease-in-out;
  animation-delay: 100s;
  animation-iteration-count: infinite;
}

.menu #close {
  top: 0;
  right: 0;
  position: absolute;
  padding: 10px 10px;
  margin: 10px;
  height: 40px;
  margin-top: 27px;
}

.maintext{
    z-index: 13;
    position: absolute;
    transform: translateY(50%);
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px 30px;
}

.maintext h2{
    font-size: 5rem;
   padding-bottom:0;
    text-shadow: 2px 1px red;
}

.maintext h3{
    font-size: 2rem;
   padding-top:0 ;
   text-shadow: 1px 1px rgb(100, 3, 3);
}

.maintext .text p{
    
    width: 50vw;
    padding-top: 0.3em;
    padding-bottom: 30px;
}



.maintext a{
    margin-top: 10px;
    text-decoration: none;
    padding: 8px 20px ;
    color: white;
    border: solid 1px red;
    background-color: red;
    
    
}

.maintext a:hover{
    color: rgb(255, 255, 255);
    padding: 10px 25px ;
    border: solid 1px rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
}

@keyframes medallionAnimation{
    0%{
        height: 80px;
        padding: 2px;
        
    }
    100%{
        height: 83px;
        padding: 2px;
    }
}
@media (max-width: 916px) {
  .navigation {
    display: none;
  }
}

@media (min-width: 916px) {
  .toggle {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  header .logo img {
    height: 30px;
  }

  header .logo h2 {
    padding-left: 1em;
    text-transform: capitalize;
    font-weight: 100;
    font-size: 0.8em;
  }



  .toggle img {
    top: 0;
    right: 0;
    position: absolute;    
  }
   
  .maintext{
    z-index: 13;
    position: absolute;
    transform: translateY(10%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px 30px;
}

.maintext h2{
    font-size: 1.1rem;
   padding-bottom:0;
    text-shadow: 1px 1px red;
}

.maintext h3{
    font-size: 1rem;
   padding-top:0 ;
   text-shadow: 1px 1px red;
    
}

.maintext .text p{
    
    width: 60vw;
    padding-top: 0.3em;
    padding-bottom: 30px;
}


@media screen and (max-width: 360px) {
    header .logo img {
      height: 30px;
    }
  
    header .logo h2 {
     
      text-transform: capitalize;
     
      
      font-weight: 200;
      font-size: 0.8em;
    }
  
    .maintext{
      z-index: 13;
      position: absolute;
      transform: translateY(7%);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      padding: 8px 20px;
  }
  
  .maintext h2{
      font-size: 1.2rem;
     padding-bottom:0;
      text-shadow: 1px 2px red;
  }
  
  .maintext h3{
      font-size: 0.9rem;
     padding-top:0 ;
     text-shadow: 1px 1px rgb(179, 4, 4);
      
  }
  
  .maintext .text p{
      font-size: 0.8rem ;
      width: 60vw;
      padding-top: 0.3em;
      padding-bottom: 30px;
  }
}

}