* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #ffffff;
}
a:hover {
  background-color: #dcdde1;
  color: #353b48;
}
nav {
  background: #353b48;
  color: white;
  padding: 2rem;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  display: block;
  z-index: 2;
  box-shadow: 1px 1px black;
}

nav ul li {
  display: inline;
  list-style: none;
  padding: 2.1rem;
  cursor: pointer;
}

nav ul li a {
  color: whitesmoke;
  text-decoration: none;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 1px solid #7f8fa6;
  border-radius: 3%;
}

.conquerPic {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#bg-1 {
  width: 100%;
  max-height: 40rem;
}
#conquerPicText {
  position: absolute;
  text-align: center;
  color: #ffffff;
}

#conquerPicText h1 {
  font-family: "Merriweather", serif;
  text-shadow: 2px 3px #000;
  font-weight: bold;
  font-size: 6rem;
  letter-spacing: 13px;
  padding-bottom: 13px;
  color: whitesmoke;
}
#conquerPicText h3 {
  font-family: "Merriweather", serif;
  text-shadow: 1px 1px #000;
  letter-spacing: 3px;
  color: whitesmoke;
}

main {
  margin-left: 15%;
  margin-right: 15%;
  padding: 2rem;
  height: 1390px;
  
}

#topAboutUs {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 4rem;
  font-family: "Cabin", sans-serif;
}
#topAboutUs h3 {
  padding: 1rem;
  font-size: 1.4rem;
}

#topAboutUs input {
  padding: 0.7rem;
  border: none;
  border-radius: 3%;
  align-items: center;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 400;
  margin-left: 30%;
  margin-bottom: 1rem;
}

#topAboutUs p {
  font-size: 1rem;
  text-align: justify;
  padding: 0rem 1rem 1rem 1rem;
}
#bootstrap {
  background-color: #f2f2f2;
  border-radius: 1%;
}

#bootstrap div {
  display: flexbox;
}

#bootstrap input {
  background: green;
}

#bootstrap-img {
  width: 100%;
  background-position: center;
}

#bootstrap h3 {
  color: green;
}

#responsive {
  background-color: #f2f2f2;
}

#responsive h3 {
  color: #5dbcd2;
}

#responsive input {
  background: #5dbcd2;
}

#parrallox {
  background-color: whitesmoke;
}

#parrallox input {
  background: rgb(158, 40, 40);
}

#parrallox h3 {
  color: rgb(158, 40, 40);
}

#bottomAboutUs {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5rem;
  padding-top: 2rem;

  color: grey;
  font-family: "Cabin", sans-serif;
}

#leftSide {
  background-color: whitesmoke;
}
#leftSide img {
  width: 100%;
}
#leftSide h3 {
  padding: 1rem;
}

#leftSide p {
  padding: 1rem;
  justify-self: center;
  text-align: justify;
}

#rightSide {
  background-color: #f2f2f2;
}
#rightSide img {
  width: 100%;
  background-position: center;
}
#rightSide h3 {
  padding: 1rem;
}

#rightSide p {
  padding: 1rem;
  justify-self: center;
  text-align: justify;
}

#rightSide input {
  margin: 1rem;
  background-color: white;
  padding: 1em;
  border-radius: 5%;
  border: 1px solid grey;
  cursor: pointer;
}

#rightSide input:hover {
  background-color: grey;
  padding: 0.7em;
  color: white;
  border: 1px solid grey;
  cursor: pointer;
}

#midImg {
 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#midImg img {
  width: 100%;
  max-height: 20rem;
}
#midImgClass {
  color: #ffffff;
  position: absolute;
  width: 50%;
  text-align: center;
  font-family: monospace;
  font-size: larger;
}

#midImgClass h1 {
  padding: 0.5vh;
  font-weight: 700;
  text-shadow: 1px 2px black;
}

#midImgClass p {
  padding: 0.5vh;
  text-shadow: 1px 1px black;
  font-weight: 200;
}

.bottomContainer{
  height: 100vh;
  display: grid;
  grid-gap: 3.2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
  "column1 column2 column3 column4"
  "bigRowcolumn bigRowcolumn bigRowcolumn bigRowcolumn";
  color: grey;
  font-family: "Cabin", sans-serif;

}

.bottomContainer img{
  width: 100%;
  padding-bottom: 1rem;
}

.bottomContainer input{
  font-size: large;
  color: grey;
  align-self: center;
  margin-left: 30px;
  margin-bottom: 15px;
  padding: 1rem;
  font-weight: 600;
  background-color: white;
  border: 1px solid grey;
  border-radius: 20px;
  cursor: pointer;
}
.bottomContainer h3{
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  font-weight: 700;
}

.bottomContainer p{
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  font-weight: 500;
}

#column1{
  background-color: #f2f2f2;
  grid-area: column1;
   
}

#column2{
   
  grid-area: column2;
  background-color: #f2f2f2;
  
}

#column3{
   
  grid-area: column3;
  background-color: #f2f2f2;
  
}

#column4{
  background-color: #f2f2f2;
  grid-area: column4;
  
}
#bigRowColumn{
  background-color: #f2f2f2;
  grid-area: bigRowcolumn;
  
}

.contact img{
  max-height: 40rem;
  width: 100%;
}

.contact{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  align-content: center;

}
.contact h3{
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 800;
  font-size: 2.8em;
  text-shadow: 2px 3px black;
  text-align: center;
  padding: 0.9rem;

}
.para{
 
  font-size: larger;
 
  
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.233);
}

#contactContain{
  position: absolute;
  color: black;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  width: 30%;
}

#contactContain .info{
  padding: 1rem;
  position: relative;
  
  font-size: larger;
  font-weight: 400;
  
}

#contactContain .info input{
  padding: 1rem;
  color: #000;
  background-color: rgba(255, 255, 255, 0.521);
  font-family: "Noto Sans JP", sans-serif;
  border-radius: 10px;
  display: block;
  margin:2%;
  
}

 
#contactContain .info textarea{
  display: block;
  background-color: rgba(255, 255, 255, 0.233);
  border-radius: 10px;
  margin:2%;
  position: absolute;
  left: 50%;
  top:5%;
  text-align:start ;
  padding: 0.7em;
}

footer{
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer div{
  text-align: center;
}

hr{
 
  border-radius: 10px;
  margin: 10px;
  border: 1px solid rgb(143, 140, 140);
  width: 100%;
}