*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-justify: auto;
}