* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.Quotebox {
  background-color: #fff;
  position: absolute;
  top: 50%;
  right: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  margin: 0ch 1.3ch 0ch 1.3ch;
  padding: 1ch 1ch 2ch 1ch;
  height: auto;
  width: auto;
  color: black;

  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 1, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.Quote > #author {
  text-align: right;
  margin: 1ch 0ch 2ch 1ch;
}
.Navigate {
  width: 100%;
  height: 6ch;
  bottom: 0px;
  position: absolute;
}

.Navigate ul {
  position: absolute;
  bottom: 0px;
  top: 1.6em;
  right: 1%;
  display: flex;
}
.Navigate ul li {
  position: relative;
  list-style: none;
  margin: 1ch 1ch;
  padding-bottom: 1ch;
}
.Navigate ul li a {
  position: relative;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 2ch;
  height: 10px;
}

.fa-twitter-square {
  color: #00acee;
}

.fa-facebook-official {
  color: #3b5998;
}

.fa-refresh {
  color: #001;
}
